body {
    font-family: serif;
    color: black;
    margin: 4rem;
    text-align: center;
}

fieldset {
    margin: 1rem;
    padding: .5rem;
    display: flexbox;
}

.calculationDisplay {
    display: none;
}